<body id="show_back">

  <div class="container product-show">
    <h3>
      <strong>Product:</strong>
      <%= @product.name %>
   </h3>
    <div class="row">
      <div class ="col-xs-12 col-sm-6">
        <%= image_tag(@product.image_url, :class => 'img-responsive',:id => 'show-image')%>
      </div>
      <div class="col-xs-12 col-sm-6">
        <p>
          <strong>Description:</strong>
          <%= @product.description %>
        </p>
        <p>
          <strong>Colour:</strong>
          <%= @product.colour %>
        </p>
      </div>
    </div><!--/row-->
    <div class="row product-reviews">
      <div class="review-highest">
        <%= @product.comments.rating_desc.first %>
      </div>
      <div class="review-lowest">
        <%= @product.comments.rating_desc.last %>
      </div>
    </div><!-- /product-reviews
  </div><!--/container-->
  <div class= "container" id="product-footer">
    <%= link_to 'Edit', edit_product_path(@product) %>
    <%= link_to 'Back', products_path %>
  </div>
</body>