<body id="show_back">

  <div class="container product-show">

    <div class="row">
      <div class ="col-xs-12 col-sm-6">
        <div class="thumbnail">
          <%= image_tag(@product.image_url, :class => 'img-responsive',:id => 'show-image')%>
          <div class="caption">
            <%=button_to('Add to Cart', product_path, method: :get,:class =>'btn btn-default product-show-btn product-cart-btn')%><%=button_to('Products', products_path, method: :get, :class => 'btn btn-default product-show-btn product-cart-btn')%>
          </div>
        </div><!-- /thumbnail -->
      </div>
      <div class="col-xs-12 col-sm-6" id="product-show-info">
      <h3>
        <strong>Product:</strong>
      <%= @product.name %>
      </h3>
      <hr />
        <p>
          <strong>Description:</strong>
          <%= @product.description %>
        </p>
        <p>
          <strong>Colour:</strong>
          <%= @product.colour %>
        </p>
      </div>
    </div><!--/row-->
    <div class= "container" id="product-footer">
      <%= link_to 'Edit', edit_product_path(@product) %>
      <%= link_to 'Back', products_path %>
    </div>
    <div class="row product-reviews-row">
      <div class="product-review-cont col-xs-12">
        <h2><strong>Reviews</strong></h2>
        <hr>
        <h4><span class="glyphicon glyphicon-plus"></span><strong>Most Positive</strong></h4>
        <div class="review-highest">
          <%= @product.highest_rating_comment %>
        </div>
        <h4><span class="glyphicon glyphicon-minus"></span><strong>Most Critical</strong></h4>
        <div class="review-lowest">
          <%= @product.lowest_rating_comment %>
        </div>
        <hr>
      </div><!-- /product-reviews -->
    </div><!-- /container -->

</body>